body {
  background-color: rgb(255, 255, 255);
}

.App {
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  border: 1px solid grey;
  margin: calc(1rem + 1vw);
  border-radius: 1rem;
}

.album-list {
  border: 1px solid grey;
  background-color: rgba(211, 211, 211, 0.331);
  margin: calc(1rem + 1vw);
  border-radius: 1rem;
}

.album-card {
  border: 1px solid grey;
  margin: 1rem;
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
}

.album-title {
  text-transform: capitalize;
  color: #605040;
}